@media (max-width: 575px) {
    /* .f_35 {
        font-size: 25px;
    } */
    .teaching_text {
        padding: 80px 15px;
    }
    .sitemap_ul {
        margin: 22px;
    }
    .careers_section_05 p {
        padding: 0px 10px;
    }
    .class_tutor_01 {
        padding: 10px 10px;
    }
    .modal-dialog {
        margin: 0 !important;
    }
    button.f_col_12.r_button.r_button--primary {
        padding: 5px 10px;
    }
    .f_col_12 {
        font-size: 12px !important;
    }
    .mt_col_3 {
        margin-top: 3px !important;
    }
    .mb_col_0 {
        margin-bottom: 0 !important;
    }
    label {
        margin-bottom: 0rem !important;
    }
    .modal-dialog {
        margin: 0 !important;
    }
    input[type="text"],
    select,
    textarea {
        padding: 9px;
    }
    p.r_footer__subheader.js-footerlist-open {
        display: none;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none !important;
    }
    .dropdown-toggle::after {
        border-top: 7px solid !important;
        border-right: 3px solid transparent !important;
        border-bottom: 0 !important;
        border-left: 3px solid transparent !important;
        margin-left: 10px !important;
        color: #6f6f6f;
    }
    .navbar-toggler {
        padding: 2px 5px 5px !important;
    }
    .h_350 {
        height: 650px;
    }
    .cor_he {
        height: auto;
    }
    .short__height_ {
        height: 711px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .teaching_text {
        padding: 80px 50px;
    }
    .sitemap_ul {
        margin: 22px;
    }
    .careers_section_05 p {
        padding: 0px 10px;
    }
    .class_tutor_01 {
        padding: 10px 10px;
    }
    p.r_footer__subheader.js-footerlist-open {
        display: none;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none !important;
    }
    .dropdown-toggle::after {
        border-top: 6px solid !important;
        border-right: 3px solid transparent !important;
        border-bottom: 0 !important;
        border-left: 3.5px solid transparent !important;
        margin-left: 4px !important;
        top: 2px;
        padding-top: -5px;
        position: relative;
    }
    .navbar-toggler {
        padding: 2px 5px 5px !important;
    }
    .h_350 {
        height: 450px;
    }
    .cor_he {
        height: auto;
    }
    .short__height_ {
        height: 550px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sitemap_ul {
        margin: 22px;
    }
    .careers_section_05 p {
        padding: 0px 50px;
    }
    .class_tutor_01 {
        padding: 10px 20px;
    }
    .f_col_12 {
        font-size: 15px !important;
    }
    .r_footer__header,
    .r_footer p.r_footer__header {
        width: auto;
    }
    .r_footer__contact {
        width: 166px;
    }
    .h_350 {
        height: 370px;
    }
    .post-img {
        height: 210px;
    }
    .post-slide .post-title a {
        padding-top: 15px;
    }
    .post-slide {
        height: 420px;
    }
    .post-slide .post-description {
        height: 80px;
    }
    i.fa.fa-bars.mt-1 {
        display: none;
    }
    .dropdown-toggle::after {
        border-top: 6px solid !important;
        border-right: 3px solid transparent !important;
        border-bottom: 0 !important;
        border-left: 3.5px solid transparent !important;
        margin-left: 4px !important;
        top: 2px;
        padding-top: -5px;
        position: relative;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sitemap_ul {
        margin: 22px;
    }
    .post-slide .post-title a {
        padding-top: 15px;
    }
    .post-slide {
        height: 390px;
    }
    .post-slide .post-description {
        height: 80px;
    }
    .post-img {
        height: 175px;
    }
}

@media (min-width: 1200px) {}

.short__height_ {
    height: 450px;
}